$color-w0: #fff;
$color-w1-a: rgba(255, 255, 255, 0.97);
$color-w2-a: rgba(255, 255, 255, 0.94);
$color-w3-a: rgba(255, 255, 255, 0.91);
$color-w4-a: rgba(255, 255, 255, 0.87);
$color-w5-a: rgba(255, 255, 255, 0.83);
$color-w6-a: rgba(255, 255, 255, 0.78);
$color-w7-a: rgba(255, 255, 255, 0.71);
$color-w8-a: rgba(255, 255, 255, 0.62);
$color-w9-a: rgba(255, 255, 255, 0.48);
$color-w10-a: rgba(255, 255, 255, 0.27);
$color-w11-a: rgba(255, 255, 255, 0.09);

// sky

$color-s0 : #0094DE;
$color-s1 : rgba(0, 148, 222, 0.90);
$color-s2 : rgba(0, 148, 222, 0.80);
$color-s3 : rgba(0, 148, 222, 0.70);
$color-s4 : rgba(0, 148, 222, 0.60);
$color-s5 : rgba(0, 148, 222, 0.50);
$color-s6 : rgba(0, 148, 222, 0.30);
$color-s6 : rgba(0, 148, 222, 0.20);
$color-s6 : rgba(0, 148, 222, 0.10);
$color-s6 : rgba(0, 148, 222, 0.05);
// bule

$color-bu0 : #263077;
$color-bu1 : rgba(38, 48, 119, 0.7);


// black

$color-bl0: #000000;
$color-bl1: #333333;
$color-bl0: #2D2D32;


// gray
$color-g0: #414146;
$color-g1: #787887;
$color-g2: #DFDFDF;
$color-g3: #787887;
